 *,*::before,*::after
{
  margin: 0;
  padding:0;
  
  
}
 
  body
    {
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
       background-color: black;
       color: white;
       font-style: italic;
    }
    body::after 
      {     content: "";
          background-color: white;
           width: 100%;
           height: 100%;
           clip-path: circle(130px at 0 40px);
           position: absolute;
           opacity: 0.4;
           
      }
      
      
    div
    {
      font-size: 3rem;
      font-weight: 600;
      text-shadow: 2px 2px 2px #777,
                   0   0   0   #555,
                   3px 3px 3px #777;
      
                   
      
    }
     span::after
        {
            content: "";
            position: absolute;
            
            z-index: 8;
            height: 100%;
            width: 100%;
          
           animation: typing 3s steps(5) infinite;
            
            left: 0;
            background-color: black;
            color: white;
            border-left: 2px solid green;
            
            
        }
     span
      {
      color: green;
      position: relative;
      overflow: hidden;
      }
      
      
      @keyframes typing
         {
            100% {
                
              left: 125%;
            }
          
         }